{% extends 'users/base.html' %}
{% block content %}
<style>
    .container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;    /* Центрирование по вертикали */
    height: 100vh;          /* Полная высота окна */
}
</style>
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
                {% if object %}
                    <h3> Редактирование сообщения </h3>
                    {% else %}
                    <h3> Добавление нового сообщения </h3>
                {% endif %}
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group mb-4" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-outline-primary">
                        {% if object %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                    </button>
                    <a class="btn btn-outline-primary" href="{% url 'mailer:letter_list' user.pk %}"
                       role="button">Назад</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}