{% extends 'users/base.html' %}
{% block content %}
<style>
    .container_c {
    display: flex;
    justify-content: center;
    align-items: center;    /* Центрирование по вертикали */
}
    .container_r {
    display: flex;
    justify-content: right;
    align-items: center;    /* Центрирование по вертикали */
}
</style>
<div class="row">
    <div class="col-3 mt-4">
        <img src="/media/img/recipients.jpg" alt="получатели" height="150">
    </div>
    <div class="col-6 mt-4 container_c">
        <h4 class="display-7 ">ВАШИ ПОЛУЧАТЕЛИ</h4>
    </div>
    <div class="col-3 mt-4 container_r">
        <a class="btn btn-outline-primary" href="{% url 'mailer:recipient_create' %}" role="button">Добавить получателя</a>
    </div>
</div>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ПОЧТА</th>
            <th scope="col">Ф.И.О.</th>
            <th scope="col">&nbsp; ДЕЙСТВИЯ</th>
        </tr>
        </thead>
        <tbody>
        {% for recipient in object_list %}
        <tr>
            <td>{{ recipient.id }}</td>
            <td>{{ recipient.email | truncatechars:40 }}</td>
            <td>{{ recipient.fio | truncatechars:60 }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'mailer:recipient_detail' recipient.pk %}" class="btn btn-link btn-sm">Посмотреть</a>
                    <a href="{% url 'mailer:recipient_update' recipient.pk %}" class="btn btn-link btn-sm">Изменить</a>
                    <a href="{% url 'mailer:recipient_delete' recipient.pk %}" class="btn btn-link btn-sm">Удалить</a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% endif %}
    </span>
  </div>
{% endif %}
{% endblock %}